# Python
__pycache__/
*.py[cod]
*.pyd
.Python
db.sqlite3
*.sqlite

# JavaScript / Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.orig
*.old

# OS
.DS_Store
Thumbs.db

# other
*.log
*.csv
*.dat
*.out
*.pid
*.sublime-*

# custom
filepathSlugs.json
links-to-manually-check
.env
MM2.json
utils/docker/kdf-config/coins
tmp/*
utils/py/tmp/coins_config_cache.json
postman/generated/**/*.json